.my-btn {
    border-radius: 1.25rem;
    padding: .3125rem .4375rem;
    border: none;
}

.btn_black {
    background-color: #363636;
    margin: 0 .625rem;
}

.btn_primary {
    background-color: var(--bs-primary);
    color: var(--color-white);
    padding: .375rem .8125rem;
}
