.my-btn {
    border-radius: 1.25rem;
    border: none;
    padding: .4375rem .75rem;
    font-weight: bold;
    border: .125rem solid transparent;
    transition: 0.4;
}

.btn_black {
    background-color: #363636;
    margin: 0 .625rem;
}

.btn_red {
    background-color: #cd3d0f;
    color: var(--color-white);
}

.btn_primary {
    background-color: var(--bs-primary);
    color: var(--color-white);
}

.btn_white {
    background-color: #d9dadc;
    color: var(--bs-primary);
}
