@import url("./buttons.css");
@import url("./hover.css");

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg_black: black;
    --color-p: #727272;
    --bs-primary: #0d6efd;
    --color-white:white;
}

/* Header */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.header-top {
    background-color: var(--bg_black);
}

.header-top-logo {
    width: 5rem;
}

.fa-angle-down {
    color: #a9a9a9;
}

.img-lens {
    width: 25px;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: #1f1f1f;
}

/* Section Jumbo */
.jumbo {
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 680px;
}

.col_jumbo {
    padding-top: 18.75rem;
}

.logo-banner {
    max-width: 250px;
} 

.logo-jumbo {
    max-width: 300px;
}

.section:first-child {
    padding: 6.875rem 0;
}

.card_jumbo {
    padding-top: 3.125rem;
}

.card_games img {
    border-radius: 1.5625rem;
}

/* Section playstation5 */
.section-play5 h6 {
    color: #3890d8;
}

.section p {
    color: var(--color-p);
    font-weight: bold;
}

h2 {
    font-weight: bold;
    padding-bottom: .5rem;
}

.box-img,
.box-img1 {
    max-width: 200px;
    height: 100%;
}

.box-img {
    transition: 0.3s;
}

/* Section Banner */
.banner-take {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Section Banner Uscite */
.banner-nuove-uscite {
    background-color: #1f1f1f;
}

.img_card_games {
    border-radius: 1.25rem;
    overflow: hidden;
    cursor: pointer;
}

/* Section Plastation 4 */
.fa-registered {
    font-size: .6875rem;
    position: relative;
    bottom: .6875rem;
}

/* Section Banner Play-Plus */
.banner-play-plus {
    background-color: #bebcbb;
}

/* Section Banner now */
.banner-play-now {
    background-color: #161c3b;
}

/* Footer */
.footer-full {
    background-color: #00439c;
}

.globe {
    max-width: 20px;
}

.footer-full li {
    list-style: none;
}

.footer-full li a {
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: .3125rem;
    display: block;
}

.img-logo-sony {
    max-width: 150px;
}

.footer-full .row:last-child p {
    font-size: .875rem;
}