@import url("./buttons.css");
@import url("/css/hover.css");

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg_black: black;
    --color-p: #9b9b9b;
    --bs-primary: #0d6efd;
    --color-white:white;
}

/* Header */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.header-top {
    background-color: var(--bg_black);
}

.header-top-logo {
    width: 5rem;
}

.fa-angle-down {
    color: #a9a9a9;
}

.img-lens {
    width: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: #1f1f1f;
}

/* Section Jumbo */
.jumbo {
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 680px;
}

.col_jumbo {
    padding-top: 18.75rem;
}

.logo-jumbo,
.logo-banner {
    width: 250px;
}

.section:first-child {
    padding: 6.875rem 0;
}

.card_jumbo {
    padding-top: 3.125rem;
}

.card_games {
    width: 200px;
    border-radius: 1.5625rem;
    overflow: hidden;
}

.card_games img {
    width: 100%;
}

/* Section playstation5 */
.section-play5 h6 {
    color: #3890d8;
}

.section p {
    color: var(--color-p);
    font-weight: bold;
}

h2 {
    font-weight: bold;
    padding-bottom: .5rem;
}

.box-img {
    max-width: 135px;
}

/* Section Banner */
.banner-take {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.col_banner {
    padding-top: 9.375rem;
    padding-bottom: 3.125rem;
}

/* Section Banner Uscite */
.banner-nuove-uscite {
    background-color: #1f1f1f;
}

.card_games_now {
    max-width: 200px;
}

.img_card_games {
    border-radius: 1.25rem;
    overflow: hidden;
}

/* Section Plastation 4 */
.fa-registered {
    font-size: .6875rem;
    position: relative;
    bottom: .6875rem;
}